/* Medium Device */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .navbar {
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
    }
    .banner {
        margin: 50px 20px;
        padding: 50px;
    }
    .banner-content h1,
    p {
        width: 100%;
    }
    .search-box {
        flex-direction: column;
    }
    .search-box input {
        width: 490px;
    }
    .search-box select,
    .search-box button {
        width: 500px;
    }
    .popular-tours{
        flex-direction: column-reverse;
        align-items: center;
    }
    .pt-content{
        width: 90%;
    }
    .pt-content h1{
        text-align: center;
    }
    .pt-content button{
        text-align: center;
        margin: 0 auto;
    }
    .your-destination{
        margin-left: 20px;
        margin-right: 20px;
    }
    .row > div{
        height: 250px;
    }
    .yd-imgs .row {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 25px;
        margin-bottom: 25px;
    }
    .maldives, .indonesia, .bangladesh, .bandarban{
        grid-column: span 3;
        font-size: 11px;
        font-weight: 800;
    }
    .srilanka, .north-america, .kashmir{
        grid-column: span 2;
        font-size: 11px;
        font-weight: 800;
    }
}

/* Small Device */
@media screen and (max-width: 576px) {
    .navbar {
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .nav-logo{
        gap: 5px;
    }
    .nav-logo img{
        width: 40px;
    }
    .nav-logo h1{
        font-size: 25px;
        font-weight: 800;
    }
    .nav-option {
        display: none;
    }
    .nav-icon {
        display: block;
    }
    .banner {
        height: 483px;
        padding: 32px 24px;

        margin: 50px 20px;
        object-fit: cover;
    }
    .banner-content h1 {
        width: 100%;
        font-size: 30px;
        font-weight: 800;
        margin-bottom: 8px;
    }
    .banner-content p {
        width: 100%;
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 32px;
    }
    .search-box {
        flex-direction: column;
        width: 287px;
        height: 288px;
        padding: 10px 20px;
        margin: 0 auto;
    }
    .search-box input {
        width: 290px;
    }
    .search-box select,
    .search-box button {
        width: 300px;
    }
    .popular-tours{
        flex-direction: column-reverse;
        align-items: center;
    }
    .pt-img img{
        width: calc(100% - 40px);
        margin-left: 20px;
        margin-right: 20px;
    }
    .pt-content{
         width: calc(100% - 40px);
        margin-left: 20px;
        margin-right: 20px;
    }
    .pt-content h1{
        text-align: center;
    }
    .pt-content button{
        text-align: center;
        margin: 0 auto;
    }
    .pt-content #p1, .pt-content #p2, .pt-content #li1, .pt-content #li2, .pt-content #li3{
        height: auto;
     }
     .your-destination{
        margin-left: 20px;
        margin-right: 20px;
    }
    .yd-imgs .row {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
        margin-bottom: 25px;
    }
    .yd-imgs .row > div{
        grid-column:  span 1;
    }
}

/* Small Device */
@media screen and (max-width: 376px) {
    .search-box{
        width: 207px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .search-box input{
        width: 230px;
    }
    .search-box select, .search-box button{
        width: 240px;
    }
}