@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
.mulish-font {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
.fw{
    max-width: 1250px;
    margin: 0 auto;
}

/* Shared Styles */
.display-flex{
    display: flex;
}
.hide{
    display: none;
}
/* Navbar Styles */
.navbar{
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 20px;
    font-weight: 800;
}
.nav-logo span{
    color: #FF5400;
}
.nav-option a:first-child{
    font-size: 18px;
    font-weight: 700;
    color: rgba(255, 84, 0, 1);
}
.nav-option a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: rgba(66, 66, 71, 1);
}
.nav-option{
    gap: 40px;
}
.nav-icon{
    display: none;
    font-size: 25px;
    color: #131318;
    cursor: pointer;
}
/* Banner Styles */
.banner{
    margin-top: 50px;
    background-image: linear-gradient(180.00deg, rgba(19, 19, 24, 0.8) 0%,rgba(19, 19, 24, 0) 100%), url(../assets/images/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    padding: 100px 180px;
    justify-content: center;
    align-items: center;
}
.banner-content h1{
    width: 800px;
    text-align: center;
    margin: 0 auto;
    font-size: 64px;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 24px;
}
.banner-content p{
    max-width: 590px;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    margin-top: 0;
    margin-bottom: 48px;
}
.search-box{
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 16px;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.search-box input, .search-box select, .search-box button{
    width: 174px;
    height: 52px;
    border: 0;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    color: #13131880;
    padding-left: 10px;
}
.search-box button{
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    background: rgba(255, 84, 0, 1);
    cursor: pointer;
}

/* Our Popular Tours Styles */
.popular-tours{
    margin-top: 100px;
    justify-content: center;
    gap: 50px;
}
.pt-content{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.pt-content h1{
    font-size: 40px;
    font-weight: 800;
    color: rgba(19, 19, 24, 1);
    margin-bottom: 24px;
}
.pt-content #p1, #p2{
    font-size: 16px;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.7);
    margin-top: 0;
    margin-bottom: 24px;
    height: 50px;
}
.pt-content #li1, #li2, #li3{
    font-size: 16px;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.7);
    margin-top: 0;
    margin-left: 20px;
    margin-bottom: 16px;
    height: 50px;
    line-height: normal;

}
.pt-content #li3{
    margin-bottom: 24px;
}
.pt-content #p2{
    margin-bottom: 32px;
    height: 100px;
}
.pt-content button{
    width: 174px;
    height: 52px;
    border: 0;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #FF5400;
    cursor: pointer;
}

/* Choose Your Destination Styles */
.your-destination{
    margin-top: 100px;
}
.your-destination > h1{
    max-width: 478px;
    font-size: 40px;
    font-weight: 800;
    color: rgba(19, 19, 24, 1);
    text-align: center;
    margin: 0 auto;
    margin-bottom: 24px;
}
.your-destination > p{
    max-width: 643px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.7);
    text-align: center;
    margin: 0 auto;
    margin-bottom: 48px;
}
.row > div{
    height: 300px;
    background-position: center;
    background-size: cover;
}
.yd-imgs .row{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 25px;
    margin-bottom: 25px;
}
.maldives{
    grid-column: span 6;
    background-image: linear-gradient(rgba(19, 19, 24, 0.2)), url(../assets/images/maldives.png);
    background-repeat: no-repeat;
    font-size: 18px;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.indonesia{
    grid-column: span 6;
    background-image: linear-gradient(rgba(19, 19, 24, 0.2)), url(../assets/images/indonesia.png);
    background-repeat: no-repeat;
    font-size: 18px;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.srilanka{
    grid-column: span 4;
    background-image: linear-gradient(rgba(19, 19, 24, 0.2)), url(../assets/images/srilanka.png);
    background-repeat: no-repeat;
    font-size: 18px;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.north-america{
    grid-column: span 4;
    background-image: linear-gradient(rgba(19, 19, 24, 0.2)), url(../assets/images/north-america.png);
    background-repeat: no-repeat;
    font-size: 18px;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.kashmir{
    grid-column: span 4;
    background-image: linear-gradient(rgba(19, 19, 24, 0.2)), linear-gradient(rgba(19, 19, 24, 0.2)), url(../assets/images/kashmir.png);
    background-repeat: no-repeat;
    font-size: 18px;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bangladesh{
    grid-column: span 5;
    background-image: linear-gradient(rgba(19, 19, 24, 0.2)), linear-gradient(rgba(19, 19, 24, 0.2)), url(../assets/images/bangladesh.png);
    background-repeat: no-repeat;
    font-size: 18px;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bandarban{
    grid-column: span 7;
    background-image: linear-gradient(rgba(19, 19, 24, 0.2)), url(../assets/images/bandarban.png);
    background-repeat: no-repeat;
    font-size: 18px;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}