@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
.mulish-font {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
.fw{
    max-width: 1250px;
    margin: 0 auto;
}

/* Shared Styles */
.display-flex{
    display: flex;
}
.hide{
    display: none;
}
/* Navbar Styles */
.navbar{
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 20px;
    font-weight: 800;
}
.nav-logo span{
    color: #FF5400;
}
.nav-option a:first-child{
    font-size: 18px;
    font-weight: 700;
    color: rgba(255, 84, 0, 1);
}
.nav-option a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: rgba(66, 66, 71, 1);
}
.nav-option{
    gap: 40px;
}
.nav-icon{
    display: none;
    font-size: 25px;
    color: #131318;
    cursor: pointer;
}
/* Banner Styles */
.banner{
    margin-top: 50px;
    background-image: linear-gradient(180.00deg, rgba(19, 19, 24, 0.8) 0%,rgba(19, 19, 24, 0) 100%), url(../assets/images/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    padding: 100px 180px;
    justify-content: center;
    align-items: center;
}
.banner-content h1{
    width: 800px;
    text-align: center;
    margin: 0 auto;
    font-size: 64px;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 24px;
}
.banner-content p{
    max-width: 590px;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    margin-top: 0;
    margin-bottom: 48px;
}
.search-box{
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 16px;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.search-box input, .search-box select, .search-box button{
    width: 174px;
    height: 52px;
    border: 0;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    color: #13131880;
    padding-left: 10px;
}
.search-box button{
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    background: rgba(255, 84, 0, 1);
    cursor: pointer;
}

/* Our Popular Tours Styles */
.popular-tours{
    margin-top: 100px;
    justify-content: center;
    gap: 50px;
}
.pt-content{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.pt-content h1{
    font-size: 40px;
    font-weight: 800;
    color: rgba(19, 19, 24, 1);
    margin-bottom: 24px;
}
.pt-content #p1, #p2{
    font-size: 16px;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.7);
    margin-top: 0;
    margin-bottom: 24px;
    height: 50px;
}
.pt-content #li1, #li2, #li3{
    font-size: 16px;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.7);
    margin-top: 0;
    margin-left: 20px;
    margin-bottom: 16px;
    height: 50px;
    line-height: normal;

}
.pt-content #li3{
    margin-bottom: 24px;
}
.pt-content #p2{
    margin-bottom: 32px;
    height: 100px;
}
.pt-content button{
    width: 174px;
    height: 52px;
    border: 0;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #FF5400;
    cursor: pointer;
}

/* Choose Your Destination Styles */
.your-destination{
    margin-top: 100px;
}
.your-destination > h1{
    max-width: 478px;
    font-size: 40px;
    font-weight: 800;
    color: rgba(19, 19, 24, 1);
    text-align: center;
    margin: 0 auto;
    margin-bottom: 24px;
}
.your-destination > p{
    max-width: 643px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.7);
    text-align: center;
    margin: 0 auto;
    margin-bottom: 48px;
}
.row > div{
    height: 300px;
    background-position: center;
    background-size: cover;
}
.yd-imgs .row{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 25px;
    margin-bottom: 25px;
}
.maldives{
    grid-column: span 6;
    background-image: linear-gradient(rgba(19, 19, 24, 0.2)), url(../assets/images/maldives.png);
    background-repeat: no-repeat;
    font-size: 18px;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.indonesia{
    grid-column: span 6;
    background-image: linear-gradient(rgba(19, 19, 24, 0.2)), url(../assets/images/indonesia.png);
    background-repeat: no-repeat;
    font-size: 18px;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.srilanka{
    grid-column: span 4;
    background-image: linear-gradient(rgba(19, 19, 24, 0.2)), url(../assets/images/srilanka.png);
    background-repeat: no-repeat;
    font-size: 18px;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.north-america{
    grid-column: span 4;
    background-image: linear-gradient(rgba(19, 19, 24, 0.2)), url(../assets/images/north-america.png);
    background-repeat: no-repeat;
    font-size: 18px;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.kashmir{
    grid-column: span 4;
    background-image: linear-gradient(rgba(19, 19, 24, 0.2)), linear-gradient(rgba(19, 19, 24, 0.2)), url(../assets/images/kashmir.png);
    background-repeat: no-repeat;
    font-size: 18px;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bangladesh{
    grid-column: span 5;
    background-image: linear-gradient(rgba(19, 19, 24, 0.2)), linear-gradient(rgba(19, 19, 24, 0.2)), url(../assets/images/bangladesh.png);
    background-repeat: no-repeat;
    font-size: 18px;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bandarban{
    grid-column: span 7;
    background-image: linear-gradient(rgba(19, 19, 24, 0.2)), url(../assets/images/bandarban.png);
    background-repeat: no-repeat;
    font-size: 18px;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Why Choose Us Styles */
.choose-us{
    margin-top: 100px;
}
.choose-us > h1{
    max-width: 307px;
    font-size: 40px;
    font-weight: 800;
    color: rgba(19, 19, 24, 1);
    text-align: center;
    margin: 0 auto;
    margin-bottom: 24px;
}
.choose-us > p{
    max-width: 643px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.7);
    text-align: center;
    margin: 0 auto;
    margin-bottom: 48px;
}
.choose-us .cu-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}
.choose-us .cu-card{
    padding: 32px;
    border: 1px solid black;
}
.choose-us .cu-card h1{
    font-size: 24px;
    font-weight: 800;
    color: rgba(19, 19, 24, 1);
    margin-bottom: 16px;
}
.choose-us .cu-card p{
    max-width: 486px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(90, 90, 93, 1);
}
.choose-us .cu-cards #cu1{
    grid-column-start: 1;
    grid-column-end: 3;
    border: 1px solid rgba(251, 181, 99, 0.2);
    border-radius: 16px;
    background-color: #FFFBF7;
}
.choose-us .cu-cards #cu2{
    grid-column-start: 3;
    grid-column-end: 5;
    border: 1px solid rgba(41, 206, 246, 0.2);
    border-radius: 16px;
    background-color: #F4FCFE;
}
.choose-us .cu-cards #cu3{
    grid-column-start: 2;
    grid-column-end: 4;   
    border: 1px solid rgba(233, 68, 68, 0.2);
    border-radius: 16px;
    background-color: #FEF5F5;
}

/* Deals & Discounts Styles */
.deals-discounts{
    margin-top: 100px;
}
.deals-discounts > h1{
    max-width: 351px;
    font-size: 40px;
    font-weight: 800;
    color: rgba(19, 19, 24, 1);
    text-align: center;
    margin: 0 auto;
    margin-bottom: 24px;
}
.deals-discounts > p{
    max-width: 643px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.7);
    text-align: center;
    margin: 0 auto;
    margin-bottom: 48px;
}
.dd-cards .dd-banner{
    background-image: url(../assets/images/deals-discount\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    height: 500px;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 25px;
}
.dd-cards #dd-b2{
    background-image: url(../assets/images/deals-discount\ 2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: left;
}
.dd-cards .dd-banner .dd-card{
    margin-right: 50px;
}
.dd-cards #dd-b2 .dd-card{
    margin-left: 50px;
}
.dd-cards .dd-card{
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 16px;
    backdrop-filter: blur(3px);
    padding: 50px 60px;
}
.dd-cards .dd-card span i{
    color: #FF5400;
    width: 24px;
}
.dd-cards .dd-card .icons{
    font-size: 16px;
    font-weight: 400;
    color: rgba(90, 90, 93, 1);
    margin-bottom: 25px;
}
.dd-cards .dd-card .icons span{
    margin-right: 15px;
}
.dd-cards .dd-card h3{
    font-size: 24px;
    font-weight: 800;
    color: rgba(19, 19, 24, 1);
    margin-bottom: 16px;
}
.dd-cards .dd-card p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(90, 90, 93, 1);
    margin-bottom: 16px;
}
.dd-cards .dd-card h4{
    font-size: 20px;
    font-weight: 800;
    color: rgba(255, 84, 0, 1);
    margin-bottom: 25px;
}
.dd-cards .dd-card button{
    width: 150px;
    height: 52px;
    border: 0;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #FF5400;
}
.s-a-p{
    margin-top: 48px;
    text-align: center;
}
.s-a-p button{
    width: 210px;
    height: 52px;
    border: 0;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #FF5400;
}

/* Simple Perfect Place Styles */
.simple-place{
    margin-top: 100px;
    justify-content: center;
    gap: 50px;
}
.simple-place > div{
    width: 50%;
}
.sp-content h1{
    max-width: 448px;
    height: 120px;
    font-size: 40px;
    font-weight: 800;
    color: rgba(19, 19, 24, 1);
    margin-bottom: 24px;
}
.sp-content p{
    max-width: 532px;
    height: 52px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(90, 90, 93, 1);
    margin-bottom: 24px;
}
.sp-content ul li{
    height: 52px;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 700;
    color: rgba(90, 90, 93, 1);
    margin-bottom: 16px;
}
.sp-content ul{
    margin-bottom: 32px;
}
.sp-content button{
    width: 174px;
    height: 52px;
    border: 0;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #FF5400;
}
.sp-img{
    background-image: linear-gradient(rgba(19, 19, 24, 0.2)), url(../assets/images/mountain-in-bangladesh.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 424px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
}

/* Newsletter Styles */
.newsletter{
    margin-top: 100px;
    gap: 25px;
}
.newsletter > div{
    width: 50%;
}
.newsletter .nl{
    max-width: 474px;
    border: 1px solid rgba(255, 84, 0, 1);
    border-radius: 16px;
    padding: 40px;
}
.newsletter .nl h3{
    font-size: 24px;
    font-weight: 800;
    color: rgba(19, 19, 24, 1);
    margin-bottom: 16px;
}
.newsletter .nl p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 23px;
}
.newsletter .nl hr{
    border: 1px solid rgba(19, 19, 24, 0.1);
    margin-bottom: 23px;
}
.newsletter .nl form input{
    display: block;
    border: 0;
    border-radius: 8px;
    background-color: rgba(19, 19, 24, 0.05);
    padding: 20px;
}
.newsletter .nl form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}
.newsletter .nl form input[type="submit"]{
    font-size: 20px;
    font-weight: 400;
    border-radius: 8px;
    color: #FFFFFF;
    background-color: rgba(255, 84, 0, 1);
}
.newsletter .nl-img{
    position: relative;
}
.newsletter .nl-img .save{
    max-width: 324px;
    height: auto;
    padding: 20px;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(1px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}
.newsletter .nl-img #sp1{
    font-size: 20px;
    font-weight: 400;
    color: #FF5400;
}
.newsletter .nl-img #sp2{
    font-size: 30px;
    font-weight: 600;
    color: #FF5400;
}

/* Footer Styles */
.zt-footer{
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(19, 19, 24, 0.05);
    padding: 100px;
}
.f-logo{
    max-width: 220px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 15px;
}
.f-logo span{
    color: #FF5400;
}
.zt-footer p{
    max-width: 770px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(90, 90, 93, 1);
    margin-bottom: 32px;
}
.f-icon{
    gap: 20px;
}
.f-icon i{
    font-size: 30px;
}